<footer>
    <div class="row footer">          
        <div class="col-3 profileFooter iconFooter">
          <div class="mediaProfile">
            <img class="iconRecipes" src="../../assets/icono/Recetas.svg">
            <a class="nameIconFooter" id="nameIconFooterRecipes">Recetas</a>
          </div>
        </div>
        <div class="col-3 profileFooter iconFooter">
          <div class="mediaProfile">
            <img class="iconSearch" src="../../assets/icono/buscar.svg">
            <a class="nameIconFooter" id="nameIconFooterSearch">Buscar</a>                
          </div>
        </div>
        <div class="col-3 profileFooter iconFooter">
          <div class="mediaProfile">
            <img class="iconFavourite" src="../../assets/icono/star-solid.svg">
            <a class="nameIconFooter" id="nameIconFooterFavourite">Favoritos</a>
          </div>
        </div>
        <div class="col-3 profileFooter iconFooter" id="profileFooter">
          <div class="mediaProfile">
            <img class="iconProfile" src="../../assets/icono/Perfil-usuario.svg">
            <a routerLink="/perfil" class="nameIconFooter" id="nameIconFooterProfile">Perfil</a>
          </div>
        </div>
      </div>        
  </footer>
