<body>
  <app-menu></app-menu>
  <div>
      <button class="btnBack" mat-mini-fab type="button" routerLink="/perfil">
          <i class="fas fa-arrow-left"></i>
      </button>
  </div>
           
  <form (ngSubmit)="agregar()">
      <button type="submit">Publicar</button>
      <input type="file" (change)="uploadFile($event)" name="img" [(ngModel)]="image.img"/>
      <div>{{ uploadPercent | async }} %</div> 
      <a [href]="downloadUrl | async" target="_blank">{{ downloadUrl | async }}</a>
    </form>

    <img class="img-thumbnail" src="{{image.imgGaleria}}" alt="Thumbnail image">
</body>



