button{
	border-radius: 50%;
  background-color:#4267B2;
	border: 0px;
	cursor: pointer;
	margin: 4em auto;
	width: 10vw;
	height: 6vh;
	display: inline-block;
	color: #FFF;  
	font-size: 15px;
	margin-top:2%;
	margin-bottom: 2%;
	margin-left: 17%; 
}
img{
  width: 18px;
}