<div class="row footer">
  <div class="col-3 profileFooter iconFooter">
    <div class="mediaProfile">
      <img class="iconRecipes" src="../../assets/icono/Recetas.svg">
      <a class="nameIconFooter nameIconFooterRecipes">Recetas</a>
    </div>
  </div>
  <div class="col-3 profileFooter iconFooter">
    <div class="mediaProfile">
      <img class="iconSearch" src="../../assets/icono/buscar.svg">
      <a class="nameIconFooter nameIconFooterSearch">Buscar</a>
    </div>
  </div>
  <div class="col-3 profileFooter iconFooter">
    <div class="mediaProfile">
      <img class="iconFavourite" src="../../assets/icono/Favorito gris.svg">
      <a class="nameIconFooter nameIconFooterFavourite">Favoritos</a>
    </div>
  </div>
  <div class="col-3 profileFooter iconFooter profileFooter">
    <div class="mediaProfile">
      <img class="iconProfile" src="../../assets/icono/Perfil-usuario.svg">
      <a class="nameIconFooter nameIconFooterProfile" routerLink="/perfil">Perfil</a>
    </div>
  </div>
</div>
