div{
  text-align: center;
}


img{
    text-align: center;
    width: 70vw;
    margin: 10%;
    margin-left: 10%;
    margin-top: 20%;
    margin-bottom: 10%;  
}

@media(min-width: 425px) and (max-width: 2560px){
  img{
    margin-top: 1%;
    width: 48vw;
  }
}

