mat-toolbar{
  background-color:  #22B4BD;
}

mat-sidenav{
  background-color: #22B4BD;
  color: white;
  width: 200px;
}
button{
  color: white;
  background-color: transparent;
}
i{
 font-size: 25px;
 padding-right: 15px;
}
a{
  font-size: 20px;
  padding-top: 8px;
}
img{
  vertical-align: middle;
  border-style: none;
  width: 26%;
}