mat-toolbar{
  background-color:  #22B4BD;
  justify-content: space-between;
}

mat-sidenav{
  background-color: #22B4BD;
  color: white;
  width: 200px;
}
button{
  color: white;
  background-color: transparent;
}
i{
 font-size: 25px;
 padding-right: 15px;
}
a{
  font-size: 20px;
  padding-top: 8px;
}
img{
  vertical-align: middle;
  border-style: none;
  width: 26%;
}
@media (min-width: 767px) and (max-width: 1025px){
  img{
    width: 15%;
  }
}
@media (min-width: 1027px) and (max-width: 2561px){
  img{
    width: 122px;
  }
}