
<form (ngSubmit)="agregar()">
  <input type="text" placeholder="Ingresa tu post" name="name" [(ngModel)]="item.name">
  <button type="submit">Publicar</button>
</form>
<!--<form [formGroup]="messageForm" (ngSubmit)="addMessage()">        
        <input #name type="text" formControlName="name">       
        <input #post type="text" formControlName="post">     
        <button type="submit" [disabled]="!messageForm.valid">Agrega un mensaje</button>
      </form>
      <p>
        {{messageForm.value | json}}                
      </p>-->
