<img class="photouser" src="../../assets/icono/Perfil-usuario.svg">
<div class="Welcome" *ngIf="authService.user | async">Bienvenido: {{((authService.user | async) || {}).email}}</div>
<form (ngSubmit)="agregar()">  
  <input type="text" placeholder="Añade un comentario..." class="publication" name="name" [(ngModel)]="item.name">
  <button type="submit" class="btnMessage" (click)="addPublish()">PUBLICAR</button>
</form>
<!--<form [formGroup]="messageForm" (ngSubmit)="addMessage()">        
        <input #name type="text" formControlName="name">       
        <input #post type="text" formControlName="post">     
        <button type="submit" [disabled]="!messageForm.valid">Agrega un mensaje</button>
      </form>
      <p>
        {{messageForm.value | json}}                
      </p>-->