button{
  background-color: #22B4BD;
	border: 0px;
	cursor: pointer;
	margin: 4em auto;
	width: 60vw;
	height: 6vh;
	display: block;
	color: #FFF;  
	margin-bottom: 2%;
	margin-top:2%;
	margin-left: 17%;
}
input{
  border-radius: 0%;
  border: 0px;
  width: 60vw;
	height: 6vh;
	display: block;
	margin-left: 17%;
	margin-top: 2%; 
}
@media(min-width: 425px) and (max-width: 2560px){
	form{
		margin-top: -10%;
    margin-bottom: 2%;
	}
}