.btnIcon{
  border: none;
  background-color: white;
}
.postOut{
 border: black;
 background-color: rgba(54, 101, 145, 0.473);
}

@media(min-width: 375px) and (max-width: 768px){
  .postOutt{
    width: 180%;        
  }
}

@media(min-width: 1024px) and (max-width: 2560px){
  .postOut{
    width: 325%;
    background-color: rgba(54, 101, 145, 0.473);    
  }
}
.userImg {
  height: 50px;
  width: 50px;
  float: left;
  border-radius: 50%;
  border-color: transparent;
  border-width: 0px;
  padding: 0px;
  margin-left: 2%;
  margin-right: 2%;
}


