<div *ngFor="let item of items">
{{item.name}} - {{item.id}}
<div>
<button class="btnIcon" (click)="eliminar(item)">
<i class="fas fa-trash-alt"></i>
</button>
<button class="btnIcon" (click)="editar(item)" data-toggle="modal" data-target="#exampleModal">
<i class="fas fa-marker"></i>
</button>
<button class="btnIcon">
<i class="fas fa-heartbeat"></i>
</button>
</div>
</div>
<!--<app-message *ngFor="let message of (posts$ | async)" [name]="message.name"
          [post]="message.post"></app-message>
          <div class="example-full-width">
            <button (click)="delete()">Delete</button>-->                
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar:{{editarItem.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form (ngSubmit)="agregarItemEditado()">
              <input type="text" placeholder="Edita tu post" name="name" [(ngModel)]="editarItem.name">
              <button type="submit">Editar</button>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>        
      </div>
    </div>
  </div>
</div>
