.btnArrowProfile{
	margin: none;
	border:none;
  background-color: transparent;
  margin-left: 10px;
  margin-right: 10px;
}
.profileFooter{
	cursor: pointer;
}
.sectionProfile{
	margin-top: 53px;
}
.imgProfile{
	margin-top:20px;
	margin-left: 0%;
	text-align: center;
	width: 95px;
	border-radius: 95px
}
.pagIconProfile{
	width: 16px;
}	
.logout{
	color: #303030;
	font-size: 11px;
	font-family:'Roboto', sans-serif;
	margin-left: 32%;
	border-left: solid #dadada 1px; 
  padding-bottom: 2px;
}

.nameUser{
	font-size: 11px;
	font-family:'Roboto', sans-serif;
	text-align: left;
	font-weight: bold;
	margin-left: 3.5px;
}
.photoUser{
	display: inline-block;
	position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 20px;
}
.infoUser{
	display: inline-block;
  text-align: center;
}

.btnPublicationUser{
	font-size: 9px;
	font-family:'Roboto', sans-serif;
	color: black;
	padding:1%;
	display: inline-block;
	margin-left:5px;
	margin-top: 20%;
}
.btn-outline-dark{
	font-size: 11px;
	font-family:'Roboto', sans-serif;
	margin-top: 8px;
	margin-left:6px;
	width: 170px;
	height: 25px;
	text-align: center;
	padding: 5px;
}
.rowRecipes{
	height: 30px;
	border-bottom: solid 1px #dadada;
  border-top: solid 1px #dadada;
}
.myRecipes{
	text-align: center;
	font-size: 15px;
	font-family:'Roboto', sans-serif;;
	font-weight: bold;
	margin-top: 5px;
	
}
/**/
*{
  box-sizing: border-box;
}
.behind{
  background-color: #efefef;
  height: 25px;
  color: #303030;
  margin-top: -108px;
}
.comment{
  font-size: 12px;
  margin-left: -3px;
  display: inline-block;
}
i{
  vertical-align: middle;
  padding-right: 10px;
}

.rowImg{
	margin-right: 0px;
	margin-left: 0px;
}
.img-thumbnail {
	height: 100px;
		margin-top: 10px;
	}

@media (min-width: 375px){
	.logout{
		margin-left: 45%;
		}
	.btnPublicationUser {
		font-size: 11px;
	}
}
@media(min-width:768px){
	.logout{
		margin-left: 55%;
	}
	.btn-outline-dark{
		margin-top: 50px;
	}
	.btnPublicationUser{
		margin-top: 11%;
	}
	.img-thumbnail {
    width: 100%;
		height: 250px;
	}
	.nameUser{
		margin-left: 127px;
		padding-top: -66px;
		padding-bottom: -26px;
		margin-top: -70px;
		margin-bottom: 55px;
		font-size: 17px;
	}
}
@media(min-width:1023px) and (max-width: 2561px){
	.logout{
		margin-left: 72%;
	}
	.btn-outline-dark{
		margin-top: 10%;
	}
}
