/* You can add global styles to this file, and also import other style files */
body{
  background-image: url(assets/img/portada2.png);
  margin:0;
  text-align: center;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}